:root{
    --primary :  rgba(19, 40, 68, 0.948);
    --secondary : #ff9500;
}

*{
font-weight: 500;

}
/* background colors */
.primary{
    background: var(--primary);
}

.secondary{
    background-color: var(--secondary);
}
.white{
    background-color: white;
}
.bg{
    background-color: #0093E9;
    background-image: linear-gradient(315deg, #0093E9 0%, #80D0C7 100%);    
}
/* text-colors */
.primary-text {
   color: rgb(239, 29, 221);
}
.secondary-text{
    color: var(--secondary);
}

/* border colors */
.primary-border{
    color: var(--primary);
}
.secondary-border{
    border: 2px solid var(--secondary);
}

/* text-sizes */
.text-small{
    font-size: 16px;
}
.text-medium{
    font-size: 22px;
}
.text-large{
    font-size: 36px;
}

/* text-colors */
.text-white{
    color: white;
}
.text-black{
    color: black;
}
.text-underlined{
    text-decoration: underline;
}

/* heights and widths */
.h-screen{
    height: 100vh;
    overflow: hidden;
}
.h-45{
    height: 45px;
}
.h-85{
    height: 85vh;
}
.w-screen{
    width: 100vw;
}
.w-400{
    width: 400px;
}
.w-300{
    width: 300px;
}
.w-110{
    width: 100px;
}
.w-45{
    width: 50px;
}

/* cards */
.card-md{
    box-shadow: 0 0 1px rgba(0,0,0, 0.1);
}
.card-sm{
    box-shadow: 0 0 1px rgba(0,0,0, 0.1);
}

/* html elements */
input {
    border: 1px solid black; 
    padding: 8px;
    color: #000;
    width: 100%;
    padding-left: 20px;
}
select {
    border: 2px solid black; 
    padding: 8px;
    color: #000;
    width: 55%;
    padding-left: 20px;
}
input:focus {
    background:rgb(209, 235, 237);
    border: 1px solid rgb(248, 148, 148); 
    outline: none; 
}
button{
    border-radius: 0;
    height: 40px !important;
    border: none !important;
}
a{
    color: rgb(68, 97, 240) !important;
    text-decoration: none;
}
.cursor-pointer{
    cursor: pointer;
}
i{
    cursor: pointer;
    font-size: 20px;
    color: var(--secondary);
}
.i-search{
    border: 0.5px solid black !important ;
    width: 45px !important;
    height: 45px;
    border-radius: 50%;
    align-content: center;
    text-align: center;
}
/* antd override */
.ant-form-item{
    margin-bottom: 5px !important;
}
.custom-input {
    border: 2px solid black !important; 
    border-radius: 0% !important;
    padding: 8px;
    color: #000; 
    width: 100%;
    padding-left: 20px;
}

.custom-:focus {
    background: var(--primary);
    border: 2px solid rgb(248, 148, 148); 
    outline: none; 
}

.box-shadow {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); 
    border-radius: 8px; 
    background-color: #fff; 
    transition: box-shadow 0.3s ease-in-out;
} 
.box-shadow:hover {
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.4); 
}

